{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User's Profile</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
  </head>
  <body>
    <div class="gen-cont">
      <div class="nav">
        <div class="back">
          <a href="">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              fill="white"
              class="bi bi-arrow-left"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
              />
            </svg>
          </a>
        </div>

        <div class="camera">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="white"
            class="bi bi-camera"
            viewBox="0 0 16 16"
          >
            <path
              d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"
            />
            <path
              d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"
            />
          </svg>
        </div>
      </div>

      <div class="cover-photo">
        <img src="../Images/space-g0a47e3e69_1920.jpg" alt="" />
      </div>

      <div class="profile-content">
        <div class="content-header">
          <div class="friends">
            <h4>{{ user.follows.count}}</h4>
            <p>Following</p>
          </div>
          <div class="profile-picture">
            <img src="{{ user.profile_pic }}" alt="" />
            <h2>{{ user.username }}</h2>
          </div>
          <div class="followers">
            <h4>{{ user.followed_by.count }}</h4>
            <p>Followers</p>
          </div>
        </div>
        <div class="bio">
          <p>
            {{ user.bio }}
          </p>
        </div>
        <div class="f-cont">
          <form a action="{% url 'post:addfollow' user.id %}" method="post">
            {% csrf_token %}
            {% if user not in request.user.follows.all %}
            <div class="follow">
              <button name="follow" value="follow">Follow</button>
            </div>
            {% else %}
            <div class="follow">
              <button name="follow" value="unfollow">UnFollow</button>
            </div>
            {% endif %}
          </form>
          <div class="message">
            <button>Message</button>
          </div>
        </div>
        <div class="mid-nav">
          <span class="all">
            <a href="">All</a>
          </span>
          <span class="videos">
            <a href="">Videos</a>
          </span>
          <span class="photos">
            <a href="">Photos</a>
          </span>
        </div>
        <div class="img">
          <a href="">
            <div class="recent">
              <img src="../Images/pexels-roman-odintsov-6898856.jpg" alt="" />
            </div>
          </a>

          <a href="">
            <div class="recent">
              <img src="../Images/pexels-james-wheeler-1519088.jpg" alt="" />
            </div>
          </a>

          <a href="">
            <div class="recent">
              <img src="../Images/space-g0a47e3e69_1920.jpg" alt="" />
            </div>
          </a>

          <a href="">
            <div class="recent">
              <img src="../Images/pexels-roberto-nickson-2478248.jpg" alt="" />
            </div>
          </a>

          <a href="">
            <div class="recent">
              <img src="../Images/pexels-rodolfo-clix-1036936.jpg" alt="" />
            </div>
          </a>

          <a href="">
            <div class="recent">
              <img src="../Images/pexels-roman-odintsov-6898856.jpg" alt="" />
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
