@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: kanit;
}

nav{
    background-color: white;
    padding: 1rem;
    box-shadow: hsl(0, 0%, 90%) 0 0 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
}

.search{
  margin: 1rem;
}

input[type=search]{
    width: 100%;
    padding: 0.6rem 1rem;
    outline-color: purple;
}

main{
    margin-top: 1rem;
}

.user-card{
    box-shadow: hsl(0, 0%, 90%) 0 0 9px;
    padding: 1rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin: 0rem 1rem 1rem 1rem;
}

.user-profile{
    height: 3rem;
    width: 3rem;
}

.user-profile img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.username{
    font-family: kanit;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

i.bi-patch-check-fill{
  margin-bottom: 0.3rem;
}
i.bi-person-add{
  font-size: 1rem;
}

.followers{
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-family: kanit;
    font-size: 0.7rem;
}

.follow{
    background: none;
    color: purple;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    font-family: kanit;
    cursor: pointer;
    width: 5rem;
    border: 1px solid purple;
}

.follow:active{
    background-color: rgb(201, 12, 201);
}

@media screen and (min-width: 650px){
    main{
        margin: 1rem 5rem;
    }

    .search{
        margin: 1rem 5rem;
    }
}