* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Kanit", sans-serif;
}
.bi {
  font-size: 20px;
}
.auth-icon-start {
  position: absolute;
  top: 45%;
  left: 10px;
}
.form-input input {
  padding-left: 32px;
}