* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
}

.cont {
  margin: 0 1rem;
}

.header {
  margin-top: 5rem;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0.5em;
  color: gray;
}

form {
  margin-top: 5rem;
}

.name-div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  box-shadow: hsl(0, 0%, 80%) 0 0 0.3rem;
  gap: 0.4rem;
  border-radius: 0.5rem;
}

input[type="text"] {
  border: none;
  color: black;
  outline: purple;
  padding: 1rem 0;
  text-align: left;
}

.password-div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  box-shadow: hsl(0, 0%, 80%) 0 0 0.3rem;
  gap: 0.4rem;
  border-radius: 0.5rem;
}

input[type="password"] {
  border: none;
  color: black;
  outline: purple;
  padding: 1rem 0;
  text-align: left;
}

.btn-div {
  display: flex;
  justify-content: center;
}

button {
  padding: 0.6rem 2rem;
  background: purple;
  border: none;
  border-radius: 0.9rem;
  color: white;
  margin-top: 1rem;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 8rem;
  color: gray;
}

a {
  color: purple;
}
