@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: "Kanit", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.login-side {
  text-align: center;
  border-radius: 10px 0 0 10px;
  width: 50%;
  color: #fff;
  background-color: purple;
}
.login-text {
  justify-items: center;
  display: inline-block;
  align-items: center;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;

  text-align: center;
  padding-left: auto;
  padding-right: auto;
  padding-top: auto;
  padding-bottom: auto;
}
.signup-side {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.auth-container {
  border-radius: 10px;
  height: 90vh;
  display: flex;
  box-shadow: hsl(0, 0%, 90%) 0 0 4px;
  width: 90%;
}
.auth-container .header {
  margin-bottom: 2em;
}
.auth-container .header legend {
  font-size: 2rem;
  font-weight: 700;
}
.signup-side .header p {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 500;
}
.form-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5em;
  margin-top: 1em;
  position: relative;
}
.form-input label {
  font-size: 1rem;
}
.form-input label span {
  color: red;
}
.form-input input {
  width: 100%;
  padding: 12px;
  border-radius:20px;
  border: 2px solid #f2f2f2;
  outline: none;
  font-family: "Kanit", sans-serif;
  transition: 0.3s;
}
.form-input input:hover {
  border: 1px solid purple;
}
.auth-btn {
  display: inline-block;
  margin-top: 2em;
  border: none;
  background: purple;
  color: white;
  padding: 12px;
  width: 100%;
  border-radius: 20px;
}
.signin-btn {
  display: inline-block;
  margin-top: 2em;
  border: 1px solid #fff;
  background: purple;
  color: white;
  padding: 10px;
  width: 150px;
  border-radius: 20px;
}
.auth-footer {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 1em;
}
.show-password {
  position: absolute;
  top: 45%;
  right: 10px;
}
@media (max-width: 768px) {
  .auth-container {
    width: 100%;
    margin: 0 1.5em;
    padding: 2em 1em;
  }
}
